.sidebar{
    flex: 1;
    border-right: 0.5px solid #00003450;
    min-height: 100vh;
    background-color: #fff;

    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            font-size: 20px;
            font-weight: bold;
            color: #000034;
        }
    }

    hr{
        border: 0.5px solid #00003450;
    }

    .center{
        padding-left: 10px;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            .title{
                font-size: 10px;
                font-weight: bold;
                color: #999;
                margin: 15px 0px 5px 0px;
            }

            li{
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover{
                    background-color: #0000349d;
                }

                .icon{
                    font-size: 18px;
                    color: #000034;
                    margin-right: 10px;
                }
                span{
                    font-size: 13px;
                    font-weight: 600;
                    color: #999;
                    // margin-left: 10px;
                }
            }
        }
    }
}